.ball {
    --size: 60px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: red;
    margin: auto;
}

.video {
    width: 640px;
    height: 360px;
    display: block;
    margin-bottom: 1em;
}

#EDTeam {
    background-color: yellow;
    text-align: center;
}